<%- include partials/header.ejs %>
 
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div id="readArea" class="text-center">
                   
                   
                    <button class="btn btn-success" onclick="connectMetamask()">CONNECT TO METAMASK</button>  
                    <button class="btn btn-success" onclick="connectcontractaddress()">CONTRACT ADDRESS</button>
                    <p id="userArea" class="mt-3">Status: Not connected to MetaMask</p>
                    <p id="userArea" class="mt-3">Status: Not connected to ContractAddress</p>
                </div>
            </div>
        </div>
    </div>
</body>
 
<script>
    let account;
 
    const connectMetamask = async () => {
        try {
            if (window.ethereum !== undefined) {
                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                account = accounts[0];
                document.getElementById("userArea").innerHTML = `User Account: ${account}`;
            } else {
                alert("MetaMask extension not detected. Please install MetaMask and try again.");
            }
        } catch (error) {
            console.error("Error connecting to MetaMask:", error);
            alert("An error occurred while connecting to MetaMask. Please try again later.");
        }
    }
</script>
 